*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
  border: 1px solid black;
  border-radius: 8px;
}

fieldset {
  border-radius: 5px;
  margin: 0.3rem;
  padding: 1rem;
}

article {
  background-color: lightgray;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 3px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h3 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
  padding: 0.2rem;
}

input {
  padding: 0.3rem;
  border-radius: 3px;
  border: none;
}

.number-input {
  margin-bottom: 0.3rem;
}

.number-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="submit"] {
  width: 100%;
  background-color: blue;
  color: azure;
  padding: 0.3rem;
  border: none;
  border-radius: 3px;
}

.alert {
  display: block;
  height: 3rem;
}

.redBG {
  background-color: red;
  border-radius: 2px;
  color: bisque;
  width: 100%;
  text-align: center;
  padding: 0.5rem 3rem;
}

.output {
  display: flex;
  align-items: center;
  height: 2rem;
}
